/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
  display: inline;
  margin: 0 auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.player2-cards-hit-me {
  display: inline;
}
